.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-profile-container {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px;
    max-width: 87%;
    flex: 1;
}


.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.user-info img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 40px;
    font-weight: bold;
    color: #181818;
    margin: 0;
}

.user-description {
    font-size: 18px;
    margin: 16px 0 0;
    color: #181818;
    text-align: left;
}


.tabs {
    display: flex;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.add-recipe-btn {
    background-color: #FFBC01;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-recipe-btn:hover {
    background-color: #e0a700;
}

.tab-link {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #181818;
    transition: color 0.3s ease;
}

.tab-link:hover {
    color: #FFBC01;
    border: none;
    background: none;
}

.active-tab {
    border-bottom: 2px solid #FFBC01; /* Straight underline */
    border-radius: 0; /* Ensure no rounded corners */
    padding-bottom: 5px; /* Adjust padding to balance the underline */
}

.tab-content {
    padding-top: 20px;
}

@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-photo {
        margin-bottom: 10px;
    }

    .tabs {
        flex-direction: column;
        align-items: flex-start;
    }
}
