.recipe-search-page {
    display: flex;
    min-height: 100vh;
    margin: 50px 180px 50px 100px;
}

.sidebar {
    width: 220px;
    height: 245px;
    border-radius: 10px;
    margin-right: 30px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #181818;

}

.label-for-recipe-time {
    color: #181818;
    font-size: 12px;
    margin: 0;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-search-recipe {
    margin: 0 0 24px 0;
}

.clear-filters, .clear-filters:hover {

    margin: 0 0 24px 0;
    background-color: transparent;
    padding: 0;
    border: none;
    color: #FFBC01;
    cursor: pointer;
    font-size: 0.8em;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section label {
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
}

.filter-section select,
.filter-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #DADADA;
    border-radius: 4px;
}


.time-range {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.time-range-small {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.search-bar input {
    margin: 0;
}

.search-bar input {
    width: 100%;
    outline: none;

    /*padding: 10px;*/
    font-size: 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.loading {
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
}

.no-results {
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
}
